In [3]:
import pandas as pd
df_csv = pd.read_csv("Original_Sales_Data.csv")
df_csv

,Region,Country,Item_Type,Sales_Channel,Order_Priority,Order_Date,Order_ID,Ship_Date,Units_Sold,Unit_SellingPrice,Unit_MakingCost
0,Central America and the Caribbean,Antigua and Barbuda,Baby Food,Online,M,12/20/2013,957081544.0,01-11-2014,552,255.28,159.42
1,Central America and the Caribbean,Panama,Snacks,Offline,C,07-05-2010,301644504.0,7/26/2010,2167,152.58,97.44
2,Europe,Czech Republic,Beverages,Offline,C,09-12-2011,478051030.0,9/29/2011,4778,47.45,31.79
3,Asia,North Korea,Cereal,Offline,L,5/13/2010,892599952.0,6/15/2010,9016,205.70,117.11
4,Asia,Sri Lanka,Snacks,Offline,C,7/20/2015,571902596.0,7/27/2015,7542,152.58,97.44
...,...,...,...,...,...,...,...,...,...,...,...
4995,Australia and Oceania,New Zealand,Household,Offline,C,04-03-2015,217984473.0,4/20/2015,5305,668.27,502.54
4996,Middle East and North Africa,Azerbaijan,Clothes,Offline,L,8/17/2014,169748055.0,10-02-2014,1077,109.28,35.84
4997,Asia,Myanmar,Baby Food,Offline,H,11/23/2016,NaN,12-10-2016,5204,255.28,159.42
4998,Europe,Finland,Clothes,Online,L,4/22/2014,NaN,05-11-2014,9410,109.28,35.84
4999,Sub-Saharan Africa,Tanzania,Vegetables,Online,L,07-08-2011,NaN,08-07-2011,2450,154.06,90.93

In [4]:
global_sales_data = pd.read_csv("Original_Sales_Data.csv")
df_csv

,Region,Country,Item_Type,Sales_Channel,Order_Priority,Order_Date,Order_ID,Ship_Date,Units_Sold,Unit_SellingPrice,Unit_MakingCost
0,Central America and the Caribbean,Antigua and Barbuda,Baby Food,Online,M,12/20/2013,957081544.0,01-11-2014,552,255.28,159.42
1,Central America and the Caribbean,Panama,Snacks,Offline,C,07-05-2010,301644504.0,7/26/2010,2167,152.58,97.44
2,Europe,Czech Republic,Beverages,Offline,C,09-12-2011,478051030.0,9/29/2011,4778,47.45,31.79
3,Asia,North Korea,Cereal,Offline,L,5/13/2010,892599952.0,6/15/2010,9016,205.70,117.11
4,Asia,Sri Lanka,Snacks,Offline,C,7/20/2015,571902596.0,7/27/2015,7542,152.58,97.44
...,...,...,...,...,...,...,...,...,...,...,...
4995,Australia and Oceania,New Zealand,Household,Offline,C,04-03-2015,217984473.0,4/20/2015,5305,668.27,502.54
4996,Middle East and North Africa,Azerbaijan,Clothes,Offline,L,8/17/2014,169748055.0,10-02-2014,1077,109.28,35.84
4997,Asia,Myanmar,Baby Food,Offline,H,11/23/2016,NaN,12-10-2016,5204,255.28,159.42
4998,Europe,Finland,Clothes,Online,L,4/22/2014,NaN,05-11-2014,9410,109.28,35.84
4999,Sub-Saharan Africa,Tanzania,Vegetables,Online,L,07-08-2011,NaN,08-07-2011,2450,154.06,90.93

In [12]:
global_sales_data.shape

           Order_ID   Units_Sold  Unit_SellingPrice  Unit_MakingCost
count  4.997000e+03  5000.000000        5000.000000      5000.000000
mean   5.485477e+08  5030.698200         265.745564       187.494144
std    2.593781e+08  2914.515427         218.716695       176.416280
min    1.000909e+08     2.000000           9.330000         6.920000
25%    3.201058e+08  2453.000000          81.730000        35.840000
50%    5.522766e+08  5123.000000         154.060000        97.440000
75%    7.686763e+08  7576.250000         437.200000       263.330000
max    9.998797e+08  9999.000000         668.270000       524.960000

In [15]:
global_sales_data.rename(columns={'Order_Priority': 'Priority'})

,Region,Country,Item_Type,Sales_Channel,Priority,Order_Date,Order_ID,Ship_Date,Units_Sold,Unit_SellingPrice,Unit_MakingCost
0,Central America and the Caribbean,Antigua and Barbuda,Baby Food,Online,M,12/20/2013,957081544.0,01-11-2014,552,255.28,159.42
1,Central America and the Caribbean,Panama,Snacks,Offline,C,07-05-2010,301644504.0,7/26/2010,2167,152.58,97.44
2,Europe,Czech Republic,Beverages,Offline,C,09-12-2011,478051030.0,9/29/2011,4778,47.45,31.79
3,Asia,North Korea,Cereal,Offline,L,5/13/2010,892599952.0,6/15/2010,9016,205.70,117.11
4,Asia,Sri Lanka,Snacks,Offline,C,7/20/2015,571902596.0,7/27/2015,7542,152.58,97.44
...,...,...,...,...,...,...,...,...,...,...,...
4995,Australia and Oceania,New Zealand,Household,Offline,C,04-03-2015,217984473.0,4/20/2015,5305,668.27,502.54
4996,Middle East and North Africa,Azerbaijan,Clothes,Offline,L,8/17/2014,169748055.0,10-02-2014,1077,109.28,35.84
4997,Asia,Myanmar,Baby Food,Offline,H,11/23/2016,NaN,12-10-2016,5204,255.28,159.42
4998,Europe,Finland,Clothes,Online,L,4/22/2014,NaN,05-11-2014,9410,109.28,35.84
4999,Sub-Saharan Africa,Tanzania,Vegetables,Online,L,07-08-2011,NaN,08-07-2011,2450,154.06,90.93

In [17]:
global_sales_data.rename(columns={'Priority': 'Order_Priority'})

,Region,Country,Item_Type,Sales_Channel,Order_Priority,Order_Date,Order_ID,Ship_Date,Units_Sold,Unit_SellingPrice,Unit_MakingCost
0,Central America and the Caribbean,Antigua and Barbuda,Baby Food,Online,M,12/20/2013,957081544.0,01-11-2014,552,255.28,159.42
1,Central America and the Caribbean,Panama,Snacks,Offline,C,07-05-2010,301644504.0,7/26/2010,2167,152.58,97.44
2,Europe,Czech Republic,Beverages,Offline,C,09-12-2011,478051030.0,9/29/2011,4778,47.45,31.79
3,Asia,North Korea,Cereal,Offline,L,5/13/2010,892599952.0,6/15/2010,9016,205.70,117.11
4,Asia,Sri Lanka,Snacks,Offline,C,7/20/2015,571902596.0,7/27/2015,7542,152.58,97.44
...,...,...,...,...,...,...,...,...,...,...,...
4995,Australia and Oceania,New Zealand,Household,Offline,C,04-03-2015,217984473.0,4/20/2015,5305,668.27,502.54
4996,Middle East and North Africa,Azerbaijan,Clothes,Offline,L,8/17/2014,169748055.0,10-02-2014,1077,109.28,35.84
4997,Asia,Myanmar,Baby Food,Offline,H,11/23/2016,NaN,12-10-2016,5204,255.28,159.42
4998,Europe,Finland,Clothes,Online,L,4/22/2014,NaN,05-11-2014,9410,109.28,35.84
4999,Sub-Saharan Africa,Tanzania,Vegetables,Online,L,07-08-2011,NaN,08-07-2011,2450,154.06,90.93