In [9]:
import pandas as pd
import matplotlib
import numpy as np
import seaborn as sns
import scipy.stats as stats
%matplotlib inline


df_csv = pd.read_csv("Sales_Data.csv")
df_csv

,Region,Country,Item_Type,Sales_Channel,Order_Priority,Order_Date,Order_ID,Ship_Date,Units_Sold,Unit_SellingPrice,Unit_MakingCost
0,Central America and the Caribbean,Antigua and Barbuda,Baby Food,Online,M,12/20/2013,957081544.0,01-11-2014,552,255.28,159.42
1,Central America and the Caribbean,Panama,Snacks,Offline,C,07-05-2010,301644504.0,7/26/2010,2167,152.58,97.44
2,Europe,Czech Republic,Beverages,Offline,C,09-12-2011,478051030.0,9/29/2011,4778,47.45,31.79
3,Asia,North Korea,Cereal,Offline,L,5/13/2010,892599952.0,6/15/2010,9016,205.70,117.11
4,Asia,Sri Lanka,Snacks,Offline,C,7/20/2015,571902596.0,7/27/2015,7542,152.58,97.44
...,...,...,...,...,...,...,...,...,...,...,...
4995,Australia and Oceania,New Zealand,Household,Offline,C,04-03-2015,217984473.0,4/20/2015,5305,668.27,502.54
4996,Middle East and North Africa,Azerbaijan,Clothes,Offline,L,8/17/2014,169748055.0,10-02-2014,1077,109.28,35.84
4997,Asia,Myanmar,Baby Food,Offline,H,11/23/2016,NaN,12-10-2016,5204,255.28,159.42
4998,Europe,Finland,Clothes,Online,L,4/22/2014,NaN,05-11-2014,9410,109.28,35.84
4999,Sub-Saharan Africa,Tanzania,Vegetables,Online,L,07-08-2011,NaN,08-07-2011,2450,154.06,90.93

In [10]:
df_csv.to_csv("data_all_regions_raw.csv")

In [21]:
df_csv = pd.read_csv("data_all_regions_raw.csv")
df_csv

,Unnamed: 0,Region,Country,Item_Type,Sales_Channel,Order_Priority,Order_Date,Order_ID,Ship_Date,Units_Sold,Unit_SellingPrice,Unit_MakingCost
0,0,Central America and the Caribbean,Antigua and Barbuda,Baby Food,Online,M,12/20/2013,957081544.0,01-11-2014,552,255.28,159.42
1,1,Central America and the Caribbean,Panama,Snacks,Offline,C,07-05-2010,301644504.0,7/26/2010,2167,152.58,97.44
2,2,Europe,Czech Republic,Beverages,Offline,C,09-12-2011,478051030.0,9/29/2011,4778,47.45,31.79
3,3,Asia,North Korea,Cereal,Offline,L,5/13/2010,892599952.0,6/15/2010,9016,205.70,117.11
4,4,Asia,Sri Lanka,Snacks,Offline,C,7/20/2015,571902596.0,7/27/2015,7542,152.58,97.44
...,...,...,...,...,...,...,...,...,...,...,...,...
4995,4995,Australia and Oceania,New Zealand,Household,Offline,C,04-03-2015,217984473.0,4/20/2015,5305,668.27,502.54
4996,4996,Middle East and North Africa,Azerbaijan,Clothes,Offline,L,8/17/2014,169748055.0,10-02-2014,1077,109.28,35.84
4997,4997,Asia,Myanmar,Baby Food,Offline,H,11/23/2016,NaN,12-10-2016,5204,255.28,159.42
4998,4998,Europe,Finland,Clothes,Online,L,4/22/2014,NaN,05-11-2014,9410,109.28,35.84
4999,4999,Sub-Saharan Africa,Tanzania,Vegetables,Online,L,07-08-2011,NaN,08-07-2011,2450,154.06,90.93

In [22]:
df_csv.info

<bound method DataFrame.info of       Unnamed: 0                             Region               Country  \
0              0  Central America and the Caribbean  Antigua and Barbuda
1              1  Central America and the Caribbean                Panama
2              2                             Europe        Czech Republic
3              3                               Asia           North Korea
4              4                               Asia             Sri Lanka
...          ...                                ...                   ...
4995        4995              Australia and Oceania           New Zealand
4996        4996       Middle East and North Africa            Azerbaijan
4997        4997                               Asia               Myanmar
4998        4998                             Europe               Finland
4999        4999                 Sub-Saharan Africa              Tanzania

       Item_Type Sales_Channel Order_Priority  Order_Date     Order_ID  \
0      Baby Food        Online              M  12/20/2013  957081544.0
1         Snacks       Offline              C  07-05-2010  301644504.0
2      Beverages       Offline              C  09-12-2011  478051030.0
3         Cereal       Offline              L   5/13/2010  892599952.0
4         Snacks       Offline              C   7/20/2015  571902596.0
...          ...           ...            ...         ...          ...
4995   Household       Offline              C  04-03-2015  217984473.0
4996     Clothes       Offline              L   8/17/2014  169748055.0
4997   Baby Food       Offline              H  11/23/2016          NaN
4998     Clothes        Online              L   4/22/2014          NaN
4999  Vegetables        Online              L  07-08-2011          NaN

       Ship_Date  Units_Sold  Unit_SellingPrice  Unit_MakingCost
0     01-11-2014         552             255.28           159.42
1      7/26/2010        2167             152.58            97.44
2      9/29/2011        4778              47.45            31.79
3      6/15/2010        9016             205.70           117.11
4      7/27/2015        7542             152.58            97.44
...          ...         ...                ...              ...
4995   4/20/2015        5305             668.27           502.54
4996  10-02-2014        1077             109.28            35.84
4997  12-10-2016        5204             255.28           159.42
4998  05-11-2014        9410             109.28            35.84
4999  08-07-2011        2450             154.06            90.93

[5000 rows x 12 columns]>

In [30]:
df_csv.columns

Index(['Unnamed: 0', 'Region', 'Country', 'Item_Type', 'Sales_Channel',
       'Order_Priority', 'Order_Date', 'Order_ID', 'Ship_Date', 'Units_Sold',
       'Unit_SellingPrice', 'Unit_MakingCost'],
      dtype='object')

In [16]:
df_csv.head(25)

,Unnamed: 0,Region,Country,Item_Type,Sales_Channel,Order_Priority,Order_Date,Order_ID,Ship_Date,Units_Sold,Unit_SellingPrice,Unit_MakingCost
0,0,Central America and the Caribbean,Antigua and Barbuda,Baby Food,Online,M,12/20/2013,957081544.0,01-11-2014,552,255.28,159.42
1,1,Central America and the Caribbean,Panama,Snacks,Offline,C,07-05-2010,301644504.0,7/26/2010,2167,152.58,97.44
2,2,Europe,Czech Republic,Beverages,Offline,C,09-12-2011,478051030.0,9/29/2011,4778,47.45,31.79
3,3,Asia,North Korea,Cereal,Offline,L,5/13/2010,892599952.0,6/15/2010,9016,205.70,117.11
4,4,Asia,Sri Lanka,Snacks,Offline,C,7/20/2015,571902596.0,7/27/2015,7542,152.58,97.44
5,5,Middle East and North Africa,Morocco,Personal Care,Offline,L,11-08-2010,412882792.0,11/22/2010,48,81.73,56.67
6,6,Australia and Oceania,Federated States of Micronesia,Clothes,Offline,H,3/28/2011,932776868.0,05-10-2011,8258,109.28,35.84
7,7,Europe,Bosnia and Herzegovina,Clothes,Online,M,10/14/2013,919133651.0,11-04-2013,927,109.28,35.84
8,8,Middle East and North Africa,Afghanistan,Clothes,Offline,M,8/27/2016,579814469.0,10-05-2016,8841,109.28,35.84
9,9,Sub-Saharan Africa,Ethiopia,Baby Food,Online,M,4/13/2015,192993152.0,05-07-2015,9817,255.28,159.42
10,10,Middle East and North Africa,Turkey,Office Supplies,Offline,C,9/25/2013,557156026.0,10/15/2013,3704,651.21,524.96
11,11,Middle East and North Africa,Oman,Cosmetics,Online,M,05-12-2013,741101920.0,5/17/2013,7382,437.20,263.33
12,12,Asia,Malaysia,Cereal,Offline,L,7/31/2016,333942162.0,8/25/2016,9762,205.70,117.11
13,13,Central America and the Caribbean,Saint Lucia,Cosmetics,Offline,H,07-06-2015,795100581.0,7/16/2015,6786,437.20,263.33
14,14,Central America and the Caribbean,Saint Vincent and the Grenadines,Baby Food,Online,L,11/28/2010,504313504.0,12-03-2010,6428,255.28,159.42
15,15,Middle East and North Africa,Lebanon,Meat,Offline,H,12/17/2015,611629760.0,1/31/2016,3693,421.89,364.69
16,16,Europe,Austria,Cereal,Offline,C,8/13/2014,987410676.0,09-06-2014,5616,205.70,117.11
17,17,Europe,Bulgaria,Office Supplies,Online,L,10/31/2010,672330081.0,11/29/2010,6266,651.21,524.96
18,18,North America,Mexico,Beverages,Online,C,3/13/2017,127374303.0,3/20/2017,1742,47.45,31.79
19,19,Central America and the Caribbean,Trinidad and Tobago,Baby Food,Offline,C,4/16/2013,783842170.0,06-01-2013,5172,255.28,159.42
20,20,Middle East and North Africa,Libya,Beverages,Offline,L,1/18/2010,993345010.0,03-03-2010,1718,47.45,31.79
21,21,Middle East and North Africa,Algeria,Baby Food,Offline,M,09-05-2015,977806651.0,10/14/2015,3572,255.28,159.42
22,22,Europe,Estonia,Fruits,Online,L,9/28/2016,579463422.0,11-01-2016,4958,9.33,6.92
23,23,Australia and Oceania,Tuvalu,Beverages,Offline,L,3/22/2012,610864150.0,04-07-2012,7132,47.45,31.79
24,24,Middle East and North Africa,Saudi Arabia,Snacks,Offline,L,4/25/2017,604870164.0,06-05-2017,3378,152.58,97.44

In [17]:
df_csv.tail(25)

,Unnamed: 0,Region,Country,Item_Type,Sales_Channel,Order_Priority,Order_Date,Order_ID,Ship_Date,Units_Sold,Unit_SellingPrice,Unit_MakingCost
4975,4975,Australia and Oceania,Samoa,Meat,Online,C,04-12-2016,595740783.0,5/13/2016,1791,421.89,364.69
4976,4976,Sub-Saharan Africa,Zambia,Cereal,Online,M,1/16/2016,127332246.0,02-11-2016,9296,205.70,117.11
4977,4977,Sub-Saharan Africa,Gabon,Office Supplies,Online,M,05-09-2011,585249698.0,06-05-2011,7246,651.21,524.96
4978,4978,Europe,Belarus,Vegetables,Online,C,01-05-2011,180479466.0,01-12-2011,6740,154.06,90.93
4979,4979,Sub-Saharan Africa,Chad,Snacks,Offline,M,7/16/2013,794320380.0,08-12-2013,5907,152.58,97.44
4980,4980,Asia,Indonesia,NaN,Offline,L,12-05-2010,328383767.0,12/18/2010,4909,81.73,56.67
4981,4981,Sub-Saharan Africa,Eritrea,NaN,Online,H,03-07-2015,354593455.0,04-03-2015,938,651.21,524.96
4982,4982,Middle East and North Africa,Iran,NaN,Offline,H,8/21/2016,265185773.0,10-05-2016,3218,47.45,31.79
4983,4983,Asia,South Korea,NaN,Online,M,07-03-2010,422709548.0,08-04-2010,8004,109.28,35.84
4984,4984,Asia,Cambodia,NaN,Offline,L,10-03-2015,810026109.0,10/18/2015,3581,154.06,90.93
4985,4985,Asia,Laos,NaN,Offline,L,10/13/2010,580309283.0,10/25/2010,5268,437.20,263.33
4986,4986,Asia,Sri Lanka,NaN,Online,C,12-01-2012,307045400.0,12-02-2012,412,651.21,524.96
4987,4987,Europe,Norway,NaN,Offline,M,1/14/2014,634033286.0,1/15/2014,3394,81.73,56.67
4988,4988,Middle East and North Africa,United Arab Emirates,NaN,Online,H,8/31/2014,925384271.0,10-12-2014,625,668.27,502.54
4989,4989,Asia,Thailand,NaN,Online,C,08-08-2012,615522181.0,9/20/2012,5547,152.58,97.44
4990,4990,Europe,Ukraine,NaN,Offline,L,4/14/2014,559183347.0,5/21/2014,3633,205.70,117.11
4991,4991,Europe,Armenia,Meat,Offline,M,11-09-2015,781416594.0,12/23/2015,7390,421.89,364.69
4992,4992,Middle East and North Africa,Iran,Clothes,Offline,L,07-11-2014,927583253.0,8/30/2014,1352,109.28,35.84
4993,4993,Europe,Denmark,Clothes,Offline,H,05-09-2012,713357150.0,06-03-2012,7088,109.28,35.84
4994,4994,Sub-Saharan Africa,Liberia,Cosmetics,Offline,M,6/17/2012,374724614.0,6/23/2012,8195,437.20,263.33
4995,4995,Australia and Oceania,New Zealand,Household,Offline,C,04-03-2015,217984473.0,4/20/2015,5305,668.27,502.54
4996,4996,Middle East and North Africa,Azerbaijan,Clothes,Offline,L,8/17/2014,169748055.0,10-02-2014,1077,109.28,35.84
4997,4997,Asia,Myanmar,Baby Food,Offline,H,11/23/2016,NaN,12-10-2016,5204,255.28,159.42
4998,4998,Europe,Finland,Clothes,Online,L,4/22/2014,NaN,05-11-2014,9410,109.28,35.84
4999,4999,Sub-Saharan Africa,Tanzania,Vegetables,Online,L,07-08-2011,NaN,08-07-2011,2450,154.06,90.93

In [55]:
#Drop Unamed and Priority Columns

In [59]:
#Format Date columns each to look uniform as Day/Month/Year, removing dates with a dash (-)

In [ ]:
#Break down date columns down into 3 additional columns each: into day, month, year

In [ ]:
#df_csv.to_csv("data_all_regions_clean.csv")

In [ ]:
#select only the data where the region column equals "Sub-Saharan Africa only"

In [ ]:
#df_csv.to_csv("data_sub_saharan_africa_clean.csv")

In [60]:
#Find country demographic data and incorporate it into each file or just at all regions file and create a new africa file from that step